<div class="row-fluid">
	<div class="span12">
		<h1>Bugherd Help</h1>
		<p class="lead">To log issues with Bug Herd please remember to <a href="http://www.bugherd.com/users/sign_in" target="_blank" style="font-weight:bold">log in</a>.</p>
		<p>All Deliverables within Quango Assurance have the ability to be hooked up with Bugherd. If a deliverable is not currently wired up with Bugherd, you can click the "Crate Bugherd Project" to add bugherd to the deliverable. To QA the deliverable in Bugherd, go to the location, and click the Quango Assurnace Bugherd Bookmarklet. This will allow you to add Bugherd issues to the deliverable.</p>

		<p>To get the Bugherd bookmarklet, simply drag the following Link to your bookmarks bar</p>
		<h4><a href="javascript:(function()%7Bif%20(typeof(bugherdKey)%20!%3D%3D%20%22undefined%22)%7B(function%20(d%2C%20t)%20%7Bvar%20bh%20%3D%20d.createElement(t)%2C%20s%20%3D%20d.getElementsByTagName(t)%5B0%5D%3Bbh.type%20%3D%20'text%2Fjavascript'%3Bbh.src%20%3D%20'%2F%2Fwww.bugherd.com%2Fsidebarv2.js%3Fapikey%3D'%2BbugherdKey%3Bs.parentNode.insertBefore(bh%2C%20s)%3B%7D)(document%2C%20'script')%3B%7Delse%20%7Balert('Please%20tell%20Dev%20Team%20to%20install%20the%20Bugherd%20Key%20on%20this%20deliverable')%7D%7D)()">Bugherd QA</a></h4>

		<p>When you hit the bugherd bookmarklet, if you get a "Send Feedback" button you are not logged in.</p>
	</div>
</div>