/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/bootstrap
 *= require bootstrap/main
 *= require vendor/datatables
 */
 [class^="icon-"],
 [class*=" icon-"] {
   display: inline-block;
   width: 14px;
   height: 14px;
   *margin-right: .3em;
   line-height: 14px;
   vertical-align: text-top;
   background-image: url("/assets/glyphicons-halflings.png") !important;
   background-position: 14px 14px;
   background-repeat: no-repeat;
   margin-top: 1px;
 }
 /* White icons with optional class, or on hover/focus/active states of certain elements */
 .icon-white,
 .nav-pills > .active > a > [class^="icon-"],
 .nav-pills > .active > a > [class*=" icon-"],
 .nav-list > .active > a > [class^="icon-"],
 .nav-list > .active > a > [class*=" icon-"],
 .navbar-inverse .nav > .active > a > [class^="icon-"],
 .navbar-inverse .nav > .active > a > [class*=" icon-"],
 .dropdown-menu > li > a:hover > [class^="icon-"],
 .dropdown-menu > li > a:focus > [class^="icon-"],
 .dropdown-menu > li > a:hover > [class*=" icon-"],
 .dropdown-menu > li > a:focus > [class*=" icon-"],
 .dropdown-menu > .active > a > [class^="icon-"],
 .dropdown-menu > .active > a > [class*=" icon-"],
 .dropdown-submenu:hover > a > [class^="icon-"],
 .dropdown-submenu:focus > a > [class^="icon-"],
 .dropdown-submenu:hover > a > [class*=" icon-"],
 .dropdown-submenu:focus > a > [class*=" icon-"] {
   background-image: url("/assets/glyphicons-halflings-white.png") !important;
 }

.table th, .table td {
   word-break: break-all;
   word-break: break-word;
 }

  #my_issues .table th, #my_issues .table td {
   min-width:70px;
 }
 .timestamp {
   font-size:9px;
   color:#777;
 }
 .issue-notes p {
   font-size:13px;
   margin-bottom:5px;
   line-height:13px;
 }
 tr {
   font-size:13px;
 }
 .status-hide, .user-hide {
   display:none;
 }

