<!DOCTYPE html>
<html>
<head>
  <title>QuangoAssurance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  </style>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
